# Dependencies
node_modules/
/.pnp
.pnp.js

# Testing
/coverage
*.test.tsx
*.test.ts
jest.config.*

# Production
/build
/dist
/out
.next
web-build/
.expo/

# Environment & Secrets
.env*
.env.local
.env.development.local
.env.test.local
.env.production.local
firebase-config.js
firebase-config.ts
**/firebase.tsx
**/contract.tsx
**/contract.ts

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
expo-debug.log*
firebase-debug.log*
debug.log

# IDE & Editors
.idea/
.vscode/
*.swp
*.swo
*.sublime-workspace
*.sublime-project
.project
.classpath
*.iml
*.code-workspace

# OS generated
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Blockchain & Smart Contracts
/artifacts
/cache
/typechain
/typechain-types
hardhat.config.ts
.openzeppelin

# Firebase
.firebase/
.firebaserc
firebase-debug.log
database-debug.log
ui-debug.log

# TypeScript
*.tsbuildinfo
tsconfig.tsbuildinfo

# Misc
.cache/
.temp/
*.log
*.bak
*.tmp
